.contact__wrap {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 20px 27px 17px;
}

.checkout__btn {
    background: #101010;
    box-shadow: 0px 0px 20px rgba(67, 216, 84, 0.25);
    border-radius: 10px;
}